server:
  port: ${SERVER_PORT:8080}

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  application:
    name: petbackend
    # To set enviorments profile (dev, prod and test)
  profiles:
    active:   ${SPRING_PROFILES_ACTIVE:prod}
frontend:
  reset-password:
    url: urlfront
# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
    web:
      server:
        request:
          autotime:
            enabled: true
            percentiles: 0.5,0.75,0.9,0.95,0.99